<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <!-- do not change this ever !-->
  <?define UpgradeCode = "286914A1-0F97-4A06-A0A5-A5A011354DE9" ?>

  <?define Version = "!(bind.FileVersion.HDD2ndLife.exe)" ?>

  <?define ProductName = "HDD2ndLife: Give your HDD one last job"?>


  <Product
    Version="$(var.Version)"
    Id="*"
    UpgradeCode="$(var.UpgradeCode)"
    Name="$(var.ProductName)"
    Language="1033"
    Manufacturer="https://github.com/Smurf-IV/HDD2ndLife/" >
    <Package Id="*" Keywords='Installer'
             InstallScope='perMachine'
             Description="$(var.ProductName)"
             Comments=" Version: $(var.Version)"
             InstallerVersion="500" Compressed="yes"
             AdminImage='no'
             Platform='x64' />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed. Downgrades are not allowed - Use add/remove from the control panel." />

    <!-- Support Information shown in Add/Remove programs -->
    <Property Id="ARPHELPLINK" Value="https://github.com/Smurf-IV/HDD2ndLife/blob/master/docs/Documentation.md" />
    <Property Id="ARPCOMMENTS" Value="https://github.com/Smurf-IV/HDD2ndLife/issues"/>
    <Property Id="ARPCONTACT" Value="Smurf-IV" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/Smurf-IV/HDD2ndLife" />
    <Icon Id="InstallerIcon" SourceFile="$(sys.SOURCEFILEDIR)..\HDD2ndLife\HDD2ndLife.ico" />
    <Property Id="ARPPRODUCTICON" Value="InstallerIcon" />
    <WixVariable Id="WixUILicenseRtf" Value="GPLv3.rtf" />

    <Property Id="ARPNOMODIFY" Value="1" />

    <!-- +++++++++++++++++++++++++++ Advertised shortcuts will not produce ICE errors, but will be converted to non-advertised shortcuts when installed -->
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

    <!-- This property enables verbose logging in WiX custom actions. It writes extra entries to the MSI log. -->
    <Property Id="LOGVERBOSE" Value="1"/>

    <!-- TODO: Move to Wix V >=4 and use .Net Core detect -->
    <!--<Condition Message="[ProductName] Requires .NET Framework 4.8.0 or later to be installed. Please install from the `Pre-Reqs` folder.">
            <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_480_OR_LATER_INSTALLED]]>
        </Condition>-->

    <InstallExecuteSequence>
      <!-- This disables removing shortcuts except on uninstall. -->
      <RemoveShortcuts>Installed AND NOT UPGRADINGPRODUCTCODE</RemoveShortcuts>
    </InstallExecuteSequence>

    <!--Allow 7z / zip compression to squeeze this tighter -->
    <Media Id="1" Cabinet="Setup.cab" EmbedCab="yes" CompressionLevel="high" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop">
          <Shortcut Id="ApplicationDesktopShortcut"
                    Name="HDD 2nd Life"
                    Description="Give your HDD one last job"
                    Target="[INSTALLDIR]HDD2ndLife.exe"
                    WorkingDirectory="INSTALLDIR"/>
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          <RegistryValue
              Root="HKCU"
              Key="Software/HDD2ndLife"
              Name="installed"
              Type="integer"
              Value="1"
              KeyPath="yes"/>
        </Component>
      </Directory>
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="HDD2ndLife" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="HDD2ndLife"/>
      </Directory>
    </Directory>

    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="ProgramMenuDir2" Guid="11234567-7E98-44CE-B049-C477CC0A2B02">
        <Shortcut Id="HDD2ndLife_Shortcut" Name="HDD2ndLife" Description="HDD 2nd Life" Target="[INSTALLDIR]HDD2ndLife.exe" WorkingDirectory="INSTALLDIR" Icon="InstallerIcon" IconIndex="0" />
        <util:InternetShortcut Type="url" Id="Home" Name="HDD2ndLife Forum" Target="[ARPHELPLINK]" />
        <util:InternetShortcut Type="url" Id="Change" Name="Change Log" Target="https://github.com/Smurf-IV/HDD2ndLife/commits/"/>
        <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\HDD2ndLife" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="ProductFeature" Title="HDD2ndLife_Installer" Level="1">
      <ComponentGroupRef Id="Client" />
      <ComponentGroupRef Id="ClientRunTime" />
      <ComponentRef Id='ProgramMenuDir2'/>
      <ComponentRef Id='ApplicationShortcutDesktop'/>
    </Feature>

    <!-- Get the install to skip a few steps -->
    <UIRef Id="WixUI_Common" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <!-- This just adds 90K on top of the UI Extension.dll -->
    <WixVariable Id="WixUIDialogBmp" Value="WixUIDialogBmp.bmp" />
    <!-- This just adds 390K on top of the UI Extension.dll -->
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch HDD2ndLife Application" />
    <Property Id="WixShellExecTarget" Value="[#HDD2ndLife.exe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    
    <UI Id="WixUI_Minimal">
      <Publish Dialog="ExitDialog"
               Control="Finish"
               Event="DoAction"
               Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

      <Property Id="WixUI_Mode" Value="Minimal" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <!-- This is the welcome dialog you specified-->
      <DialogRef Id="WelcomeDlg" />

      <!-- Hook the new welcome dialog to the next one in the stack-->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="PrepareDlg">1</Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

    </UI>

    <UIRef Id="WixUI_ErrorProgressText" />

  </Product>
</Wix>
