<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HDD2ndLife.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless" />
  </configSections>
  <exceptionless apiKey="25cw8i6aTNOb0EQFXeqHPNgQxiJBtFS9YRMxeh9r" includePrivateInformation="false" />
  <userSettings>
    <HDD2ndLife.Properties.Settings>
      <setting name="Theme" serializeAs="String">
        <value>Office 2010 - Silver</value>
      </setting>
      <setting name="UpdateRequired" serializeAs="String">
        <value>True</value>
      </setting>
    </HDD2ndLife.Properties.Settings>
  </userSettings>
</configuration>