<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless" />
  </configSections>
  <!-- Stick the namespaces in .. this is supposed to allow the intellisense to work ;-) -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwConfigExceptions="true" >
    <!--<nlog autoReload="true" throwConfigExceptions="true">-->
    <variable name="LogDir" value="${specialfolder:folder=CommonApplicationData}/HDD2ndLife/logs" />
    <!-- there is a typo on this line. There should be additional '}'s at the end of the format string to close the onexception block, 
         but it appears there is an error in NLog's parser that causes it to get printed out instead of interpreted as a part of the format string. -->
    <variable name="defaultLayout" value="${longdate:universalTime=true:invariant=true} [${threadid:padding=2}] ${level:uppercase=true:padding=5}: ${logger}: ${message} ${onexception:${newline}${exception:Format=ToString, Data :separator=${newline}"/>
    <extensions>
      <add assembly="Exceptionless.NLog"/>
    </extensions>
    <targets>
      <target name="file" type="File" layout="${defaultLayout}" fileName="${LogDir}/HDD2ndLife.log" archiveFileName="${LogDir}/HDD2ndLife.{#}.log" archiveAboveSize="1048576" archiveNumbering="DateAndSequence" maxArchiveFiles="30" />
      <!--<target name="method" type="AsyncWrapper" queueLimit="1000" batchSize="100" timeToSleepBetweenBatches="50">-->
      <!--</target>-->
      <target type="Exceptionless" name="exceptionless" apiKey="25cw8i6aTNOb0EQFXeqHPNgQxiJBtFS9YRMxeh9r" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
      <logger name="*" minlevel="Trace" writeTo="method" />
      <logger name="*" minlevel="Error" writeTo="exceptionless" />
      <!--Error and above auto sent to Exceptionless -->
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false" />
    <AppContextSwitchOverrides value="Switch.System.IO.BlockLongPaths=false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <exceptionless apiKey="25cw8i6aTNOb0EQFXeqHPNgQxiJBtFS9YRMxeh9r" includePrivateInformation="false" />
</configuration>